@import "~bootstrap/scss/bootstrap";

#header {
	min-width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	background-color: #E27222;
	color: #DDC990;
	justify-content: center;

	font-size: 2vw;
}

#footer {
	bottom: 0;
	position: absolute;
	width: 100vw;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E27222;
	color: #DDC990;

	b {
		font-size: 1vw;
	}
}

